body {
  background-image: url('../img/medieval-background.jpg');
  background-size: cover;
}
#Gallow{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  visibility: hidden;
}
#Letters {
  position: absolute;
  top: 85%;
  left: 50px;
}
#Word {
  position: absolute;
  top: 90%;
  left: 50px;
}
.cell {
  border: 2px solid black;
  height: 35px;
  width: 35px;
  text-align: center;
}
.cells {
  height: 35px;
  width: 35px;
  text-align: center;
}
.red {
  background-color: red;
}
button {
  border-radius: 5px;
}
#Word button {
  background-color: transparent;
  border: none;
}
#Word button a{
  color: #fff;
  text-decoration: none;
}
@media(max-device-width: 768px){
  #Letters {
    position: absolute;
    top: 80%;
    left: 50px;
  }
  body {
    background-image: url('../img/medieval-background.jpg');
  }
}
