body {
  background-image: url('../img/medieval-background.jpg');
  background-size: cover;
}
#Gallow{
  position: absolute;
  top: 220px;
  left: 740px;
  height: 50px;
  width: 50px;
  visibility: hidden;
}
#Letters {
  position: absolute;
  top:550px;
  left: 50px;
}
#Word {
  position: absolute;
  top: 600px;
  left: 50px;
}
.cell {
  border: 2px solid black;
  height: 35px;
  width: 35px;
  text-align: center;
}
.cells {
  height: 35px;
  width: 35px;
  text-align: center;
}
.red {
  background-color: red;
}
button {
  border-radius: 5px;
}
a {
  color: #000!important;
  text-decoration: none;
}
#Word button {
  background-color: transparent;
  border: none;
}
#Word button a{
  color: #fff!important;
  text-decoration: none;
}
