body {
  background-image: url('../img/medieval-background.jpg');
  background-size: cover;
}
#Input {
  display: none;
}
#InputButton {
  display: none;
}
#Hint {
  color: #fff;
}
#Gallow{
  position: absolute;
  top: 30%;
  left: 55%;
  height: 50px;
  width: 50px;
  visibility: hidden;
}
#Letters {
  position: absolute;
  top: 85%;
  left: 50px;
}
#Word {
  position: absolute;
  top: 90%;
  left: 50px;
}
.row{
  margin: 0!important;
}
.row .hangmanChar{
  margin: 0;
  padding: 0;
}
.cell {
  border: 2px solid black;
  height: 35px;
  width: 35px;
  text-align: center;
}
.cells {
  height: 35px;
  width: 35px;
  text-align: center;
}
.red {
  background-color: red;
}
button {
  border-radius: 5px;
}
.helpButton {
  background-color: transparent;
  border: none;
}
.helpButton a{
  color: #fff;
  text-decoration: none;
}
@media(max-device-width: 768px){
  body {
    background-image: none;
  }
  #Input {
    display: block;
  }
  #InputButton {
    display: block;
  }
  #Letters {
    position: relative;
    top: 55%;
    left: 0;
  }
  #Word {
    position: relative;
    top: 60%;
    left: 0;
  }
  .hangmanChar {
    height: 500px;
    background-image: url('../img/medieval-background.jpg');
    background-size: cover;
  }
  .cell{
    border: 2px solid rgba(255,255,255,.25);
  }
}
